@import "./page-transition-loading-animation.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#77a5ff",
  --secondary: "#bd34fe",
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", system-ui, sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

code {
  font-family: monospace;
  background-color: #eaeaea;
  padding: 3px 5px;
  border-radius: 4px;
}

.text-rotate {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
